

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
input {
  font-family: "Open Sans", sans-serif;
}
a {
  color: #1435c3;
}
@font-face {
  font-family: "Open Sans";
  src: url("../vendor/font/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../vendor/font/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../vendor/font/OpenSans-SemiBold.ttf");
}
p {
  margin-bottom: 0;
}
ul {
  padding: 0;
  list-style-type: none;
}
